asgiref
distlib
dj-database-url
Django
django-jazzmin
Faker
filelock
gunicorn
packaging
pillow
platformdirs
psycopg
psycopg2
psycopg2-binary
python-dateutil
python-dotenv
six
sqlparse
typing_extensions
tzdata
virtualenv
whitenoise
